:root {

}

p, h1, h2, h3, h4 {
  max-width: 50%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

nav {
  width: fit-content;
  height: 60px;
  line-height: 60px;
  position: fixed;
  transition-duration: 0.1s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  text-align: center;
  bottom: initial; 
  top: initial;
  bottom: 0;
  background: none;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  display: inline-flex;
}

nav.headerNoShadow {
  background: white;
  box-shadow: 0px -2px 7px rgba(0,0,0,0.8);
  bottom: initial; 
  top: 0;
  animation-name: navbar;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  width: 100%;
  padding-left: 5%;
}

nav.headerShadow {
  background: rgba(0,0,0,0.0);
  box-shadow: 0px -2px 7px rgba(0,0,0,0.0);
  bottom: 50px; 
  top: initial;
  animation-name: revNavBar;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes navbar {
  0% {padding-left: 0; width: fit-content; bottom: 50px; top: initial; background-color: rgba(0,0,0,0.0); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  49% {padding-left: 0; width: 100%; bottom: -100px; top: initial; background-color: rgba(0,0,0,0.0); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  50% {padding-left: 5%; width: 100%; bottom: initial; top: -100px; background-color: rgba(0,0,0,0.8); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  100% {padding-left: 5%; width: 100%; bottom: initial; top: 0; background-color: white;}
}

@keyframes revNavBar {
  0% {width: fit-content; bottom: 50px; top: initial; background-color: rgba(0,0,0,0.0); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  49% {width: 100%; bottom: -100px; top: initial; background-color: rgba(0,0,0,0.0); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  50% {width: 100%; bottom: initial; top: -100px; background-color: rgba(0,0,0,0.8); box-shadow: 0px -2px 7px rgba(0,0,0,0.0)}
  100% {width: 100%; bottom: initial; top: 0; background-color: white;}
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

#logoNavBar {
  width: 98px;
  height: 45px;
  padding-right: 2.5%;
  margin-top: 7.5px;
  transition-duration: 0.3s;
}

.menu {
  color: rgb(36, 36, 36);
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.menu:hover {
  color: lightgray;
  background-color: rgb(110, 110, 110);
}

.menuSelected {
  background-color: #d32f2f;
  font-weight: bold;
  color: white;
}

#prebody {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(-45deg, #ddd, #fff, #ddd);
}


/*Body*/

#body {
  margin-top: 100vh;
  padding-top: 80px;
  padding-left: 5vw;
  padding-bottom: 100px;
  box-shadow: 0px -2px 90px rgba(0,0,0,0.2);
  position: absolute;
  background-color: white;
  width: 95vw;
}

/*Squares*/

.sq, .sq1, .sq2 {
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition-duration: 1.5s;
  background-blend-mode: soft-light;
  background-image: url('files/featured/image.png');
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  z-index: 1;
}

.sq:hover, .sq1:hover, .sq2:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.sq {
  background-color: darkgray;
}

.sq1 {
  background-color: #d32f2f;
}

.sq2 {
  background-color: #0d47a1;
}


#square0 {
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vh;
}

#square1 {
  top: 0;
  right: 0;
  width: 30vw;
  height: 20vh;
}

#square2 {
  bottom: -2vh;
  left: 10vw;
  width: 25vw;
  height: 25vh;
}

#square3 {
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 20vw;
}

#square4 {
  top: 0;
  left: 15vw;
  width: 20vw;
  height: 20vh;
}

#square5 {
  bottom: -5vh;
  right: 18vw;
  width: 10vw;
  height: 15vh;
}

#square6 {
  top: 20vh;
  right: 15vw;
  width: 10vw;
  height: 10vh;
}

#square7 {
  bottom: 15vh;
  left: 5vw;
  width: 10vw;
  height: 10vw;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: table;
}

/* Mobile adjustments */

@media all and (max-width: 50em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
}
